<div class='col-xl-4 col-md-6'>
  <div class='card' >
    <div class='card-body text-center'>
      <%= link_to blog_path(blog.id) do %>
        <div class='card-title'>
          <%= blog.title %>
        </div>
        <div class="card-img-top" id='img'>
          <% if blog.image.present? %>
            <div>
              <%= image_tag blog.image, class: "blog-img", width: '80%' %>
            </div>
          <% else %>
            <div>
              <%= image_tag 'no_image.png', class: "blog-img", width: '80%' %>
            </div>
          <% end %>
        </div>
          <div class='card-target_site'>鍛えた部位
            <%= blog.target_site %>
          </div>
          <p class='card-content'>
            <%= blog.content %>
          </p>
          <div class='card-user'>
            <div class='card-user-content'>
                <span><%= blog.user.nickname%></span>
            </div>
          </div>
          <p>
            投稿日：<%= blog.created_at.to_s(:date_jp)%>
          </p>
      <% end %>
    </div>
  </div>
</div>
