<div class='form-wrapper text-center'>
  <%= form_with model: @blog, local: true do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group"">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="form-group"">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, placeholder: 'タイトルを入力してください', class: 'form-control text-center' %>
    </div>

    <div class="form-group">
      <%= f.label :target_site, '鍛えた部位'%><br>
        <div class="form-inline justify-content-center">
          <%= f.check_box :target_site, {multiple: true}, "胸", nil %>胸　
          <%= f.check_box :target_site, {multiple: true}, "腕", nil %>腕　
          <%= f.check_box :target_site, {multiple: true}, "肩", nil %>肩　
          <%= f.check_box :target_site, {multiple: true}, "腹", nil %>腹　
          <%= f.check_box :target_site, {multiple: true}, "背中", nil %>背中　
          <%= f.check_box :target_site, {multiple: true}, "脚", nil %>脚　
          <%= f.check_box :target_site, {multiple: true}, "その他", nil %>その他　
        </div>
    </div>

    <div class="form-group">
      <%= f.label :content, 'メニューの方法' %>
      <%= f.text_area :content, placeholder: 'メニューや感想を入力してください', class: 'form-control text-center' %>
    </div>

    <div class="actions">
      <%= link_to 'キャンセル', root_path %>
      <%= f.submit "投稿する" %>
    </div>
  <% end %>
</div>
