<div class='blog-new-form'>
  <div class='form-wrap'>
    <%= form_with model: @blog, local: true do |f| %>

    <div class='form-header'>
      <h1 class='form-header-text'>
        New blog
      </h1>
    </div>

      <div class="form-group"">
        <div class="weight-bold-text">
          ✦image
        </div>
        <div class="click-upload">
          <p>
            Click to upload the file
          </p>
          <div class="form-file custom-file mb-3">
            <% if @blog.image.present? %>
              <div class="form-image-uploader__saved-img">
                <span class="form-image-uploader__saved-img-inner">
                  <%= image_tag @blog.image.to_s %>
                </span>
              </div>
              <div class="block-toggle">
                <div class="block-toggle__press">
                  <div class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-circle-down"></i> 画像を変更する
                  </div>
                </div>
                <div class="block-toggle__content" style="display:none;">
                  <label for="post_image" class="form-image-uploader__preview">
                    <%= image_tag 'no_image.png' %>
                  </label>
                  <%= f.file_field :image, class:'form-image-uploader__save' %>
                  <%= f.hidden_field :image_cache, class:'form-image-uploader__cache' %>
                </div>
              </div>
            <% else %>
              <label for="post_image" class="form-image-uploader__preview">
                <%= image_tag 'no_image.png' %>
              </label>
              <%= f.file_field :image, class:'form-image-uploader__save' %>
              <%= f.hidden_field :image_cache, class:'form-image-uploader__cache' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group"">
        <%= f.label :title, '✦Title' %>(<span class="indispensable">Required contents</span>)
        <%= f.text_field :title, placeholder: 'Please enter a title', class: 'form-control' %>
      </div>

      <div class="checkbox">
        <%= f.label :target_site, '✦Target site'%>(<span class="indispensable">Required contents</span>)<br>
          <div class="form-inline">
            <span><%= f.check_box :target_site, {multiple: true}, "chest", nil %>chest　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "arm", nil %>arm　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "shoulder", nil %>shoulder　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "abdominal", nil %>abdominal　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "back", nil %>back　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "leg", nil %>leg　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "other", nil %>other　</span>
          </div>
      </div>

      <div class="form-group menu">
        <%= f.label :content, '✦Menu and impressions' %>(<span class="indispensable">Required contents</span>)
        <%= f.text_area :content, placeholder: 'Please enter your menu and impressions', class: 'form-control' %>
      </div>

      <div class='btn-group'>
          <%= link_to 'Cancel', root_path, class: "post-btn" %>
        <div class="btn-default blog-btn post-btn">
          <%= f.submit "Post" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
