<div class='blog-new-form'>
  <div class='form-wrap'>
    <%= form_with model: @blog, local: true do |f| %>

    <div class='form-header'>
      <h1 class='form-header-text'>
        New blog
      </h1>
    </div>

      <div class="form-group"">
        <div class="weight-bold-text image-tag">
          ✦image
        </div>
        <div class="click-upload">
          <%= f.label :image, "Upload the image", class: "btn-default2 blog-btn" %>
          <%= f.file_field :image, class: "image_form" %>
        </div>
        <div id="image-list"></div>
      </div>

      <%= image_tag @blog.image, class: 'preview-img', id: 'image' if @blog.image.present? %>

      <div class="form-group"">
        <%= f.label :title, '✦Title' %>(<span class="indispensable">Required contents</span>)
        <%= f.text_field :title, placeholder: 'Please enter a title', class: 'form-control' %>
      </div>

      <div class="checkbox">
        <%= f.label :target_site, '✦Target site'%>(<span class="indispensable">Required contents</span>)<br>
          <div class="form-inline">
            <span><%= f.check_box :target_site, {multiple: true}, "chest", nil %>chest　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "arm", nil %>arm　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "shoulder", nil %>shoulder　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "abdominal", nil %>abdominal　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "back", nil %>back　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "leg", nil %>leg　</span>
            <span><%= f.check_box :target_site, {multiple: true}, "other", nil %>other　</span>
          </div>
      </div>

      <div class="form-group menu">
        <%= f.label :content, '✦Menu and impressions' %>(<span class="indispensable">Required contents</span>)
        <%= f.text_area :content, placeholder: 'Please enter your menu and impressions', class: 'form-control' %>
      </div>
        <%= link_to 'Cancel', root_path, class: "post-btn" %>
      <div class="btn-default blog-btn post-btn">
        <%= f.submit "Post" %>
      </div>
    <% end %>
  </div>
</div>
