<div class="blog-show">
  <div class="blog-box">
    <% if @blog.image.present? %>
      <div class='blog-img-content'>
        <%= image_tag @blog.image, class: "blog-img" %>
      </div>
    <% else %>
      <div class='blog-img-content'>
        <%= image_tag 'test_image2.png', class: "blog-img" %>
      </div>
    <% end %>
    <h2 class="name">
      <%= @blog.title %>
    </h2>
    <div class="blog-target-site-box">
      <span class="blog-target-site">
        <%= @blog.target_site %>
      </span>
      <span class="blog-postage">
        <%= @blog.content %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @blog.user.id %>
        <%# link_to '商品の編集', edit_blog_path(@blog.id), method: :get %>
        <p class='or-text'>or</p>
        <%# link_to '削除', blog_path(@blog.id), method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>
