<div class="blog-show text-center">
  <div class="show-blog-title">
    <%= @blog.title %>
  </div>
  <div class="show-img">
    <% if @blog.image.present? %>
      <div>
        <%= image_tag @blog.image, width: '30%' %>
      </div>
    <% else %>
      <div>
        <%= image_tag 'no_image.png', width: '30%' %>
      </div>
    <% end %>
  </div>
  <div clas="target_site">
    Target_site：<span class="bold"><%= @blog.target_site %></span>
  </div>
  <div class="show-content">
    <%= @blog.content %>
  </div>
  <div class='card-user-content'>
    <%= link_to "Contributor：#{@blog.user.nickname}", user_path(@blog.user) %>
  </div>
  <div>
    Posted date：<%= @blog.created_at.to_s(:date_jp)%>
  </div>


  <div>
    <% if user_signed_in? %>
      <% if current_user.id == @blog.user.id %>
      <div class="btn btn-success">
        <%= link_to 'Edit', edit_blog_path(@blog.id), method: :get %>
      </div>
      <div class="btn btn-danger">
        <%= link_to 'Del', blog_path(@blog.id), method: :delete, data: { confirm: 'Do you want to delete this post?' } %>
      </div>
      <% end %>
    <% end %>
  </div>



  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@blog, @comment],local: true) do |f|%>
        <div>
          <%= f.label :text, "✦Comment form", class: "bold" %><br />
          <%= f.text_field :text, class: "orchid", placeholder: "Please enter a comment." %>
        </div>
        <div class="btn-default blog-btn">
          <%= f.submit "Send" %>
        </div>
      <% end %>
    <% end %>
    <div>
    Comments
    </div>
    <ul class="comments text-center">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <li class="comments_list list-unstyled">
            <%= comment.text %><br>
            <%= link_to "(#{comment.user.nickname})", user_path(comment.user.id),method: :get %>
          </li>
        <% end %>
      <% elsif %>
        No comment
      <% end %>
    </ul>
  </div>
</div>
