<div class="blog-show">
  <div class="blog-box">
    <% if @blog.image.present? %>
      <div class='blog-img-content'>
        <%= image_tag @blog.image, class: "blog-img" %>
      </div>
    <% else %>
      <div class='blog-img-content'>
        <%= image_tag 'test_image2.png', class: "blog-img" %>
      </div>
    <% end %>
    <h2 class="name">
      <%= @blog.title %>
    </h2>
    <div class="blog-target-site-box">
      <span class="blog-target-site">
        <%= @blog.target_site %>
      </span>
      <span class="blog-postage">
        <%= @blog.content %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @blog.user.id %>
        <%= link_to '編集', edit_blog_path(@blog.id), method: :get %>
        <%= link_to '削除', blog_path(@blog.id), method: :delete %>
      <% end %>
    <% end %>

    <div class="blog__comments">
      <% if user_signed_in? %>
        <%= form_with(model: [@blog, @comment],local: true) do |f|%>
          <div class="field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_field :text %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :form__btn  %>
          </div>
        <% end %>
      <% end %>
      <ul class="comments_lists">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%# link_to "(#{comment.user.nickname})", user_path(comment.user.id),method: :get, class: :comment_user %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
