<div class='container text-center'>
  <div class='user_form'>
    <h2>プロフィール編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :nickname, 'ニックネーム' %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password, '新しいパスワード' %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <br />
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <i>(変更しない場合は空白のままにしてください)</i>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, '新しいパスワード確認用' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :current_password, '現在のパスワード' %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
        <i>(プロフィールを変更する場合は必要になります)</i>
      </div>

      <div class="actions mb-4">
        <%= link_to "キャンセル", :back %>
        <%= f.submit "変更を保存する" %>
      </div>
    <% end %>
  </div>
</div>
