<div class="top-wrapper">
  <div class="my-page-title">
    <%= "#{@user.nickname}'s page" %>
  </div>
  <div class="my-edit-btn">
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
        <%= link_to 'Edit profile', edit_user_registration_path(@user), method: :get, class: 'profile-edit btn btn-sm btn-outline-secondary' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container weight-wrapper text-center">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="weight-box body-weight-color">
        <div class="current-body-weight">
          Current body weight<br>
          <% if @body_weights.count == 0 %>
            No data
          <% else %>
            <span class="record"><%= @current_body_weight[0].weight %></span>kg
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="weight-box big3-color">
        <div class="current-body-weight">
          Total current big3 weight<br>
          <span class="record"><%= @total_big3 %></span>kg
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container weight-wrapper text-center">
  <div class="big3-heading">
    Current big3 record
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="weight-box bench-press-color">
        <div class="current-bench-press-weight">
          Bench press<br>
          <% if @bench_press_weight_records.count == 0 %>
            No data
          <% else %>
            <span class="record"><%= @current_bench_press_weight[0].bench_press_weight %></span>kg
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="weight-box dead-lift-color">
        <div class="current-dead-lift-weight">
          Dead lift<br>
          <% if @dead_lift_weight_records.count == 0 %>
            No data
          <% else %>
            <span class="record"><%= @current_dead_lift_weight[0].dead_lift_weight %></span>kg
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="weight-box squat-color">
        <div class="current-squat-weight">
          Squat <br>
          <% if @squat_weight_records.count == 0 %>
            No data
          <% else %>
            <span class="record"><%= @current_squat_weight[0].squat_weight %></span>kg
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="page-heading text-center">
  <%= "#{@user.nickname}'s blogs"%>
</div>
<div class='container'>
  <div class="blog">
    <% if @blogs.count == 0 %>
      <div class='no-hit '>
        <p>No data</p>
      </div>
    <% else %>
        <%= render @blogs %>
    <% end %>
  </div>
  <div class="footer-margin">
    <%= paginate @blogs %>
  </div>
</div>
