<nav class="navbar navbar-expand-sm navbar-dark bg-dark  mb-3 sticky-top">
  <div>
    <%= link_to "Big3Blog.", root_path, class: "navbar-brand", style: "font-size: 30px;" %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "New blog", new_blog_path, class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Record
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Body weight', user_body_weights_path(current_user), method: :get, class: "dropdown-item" %>
            <%= link_to 'Bench press', user_bench_press_weight_records_path(current_user), class: "dropdown-item" %>
            <%= link_to 'Dead lift', '#', class: "dropdown-item" %>
            <%= link_to 'Squat', '#', class: "dropdown-item" %>
          </div>
        </li>
        <li><%= link_to 'My page', user_path(current_user), class: "nav-link active" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link active" %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path, class: "nav-link active" %></li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %></li>
      <% end %>
    </ul>
  </div>
</nav>
