<div class='login-form '>
  <div class='form-wrap'>
  <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>

    <div class='form-header'>
      <h1 class='form-header-text'>
        Login
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Email</label>
      </div>
      <%= f.email_field :email, class:"input-default form-control", id:"email", placeholder:"Both PC and cell phones are acceptable.", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Password</label>
      </div>
      <%= f.password_field :password, class:"input-default form-control", id:"password", placeholder:"" %>
    </div>
    <div class='login-btn btn-default'>
      <%= f.submit "Login" ,class:"login-btn" %>
    </div>
  <% end %>
  <div>
    Don't have an account yet?
    <p class='with'><%= link_to "Let's start together.", new_user_registration_path %></p>
  </div>
  </div>
<div>
